*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	
}
.logo{
	display: block;
	width: 40%
}
.img-responsive{
	display: block;
	width: 100%;
}
 
.container{
	width: 1170px;
	margin: 0 auto;
}

.container-fluid{
	width: 100%;
}

header{
	width: 1170px;
	height:150px;

}
.header-left{
	width: 485px;
	height: 150px;
	float: left;
}
.header-right{
	width: 685px;
	height: 150px;
	float: right;

}
nav{
	padding: 40px;
}
ul li{
	list-style: none;


}
nav > ul > li{
	display: inline;
	

}
nav > ul > li > a{
	text-transform: uppercase;
	background: blue;
	padding: 10px 17px 10px;
	border-radius:5px;
	color: white;
	margin-right: 20px;
}
nav > ul > li > a:hover{
	background-color: red;
}
.bd-left{
	padding: 20px;
	float: left;
	width: 550px;

}


